section {
  min-height: 90px;
  margin-top: 120px;
  /*height: 120px; /* defines how much the content can be scrolled*/
}

h2 {
  color: #093160;
  font-family: 'Mulish', sans-serif;
  font-size: 28px;
  line-height: 3em;
  font-size: 32px;
  max-width: 600px;
  min-width: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h2:after{
  content:' ';
  display:block;
  border:1px solid #637891;
  border-radius:4px;
  -webkit-border-radius:2px;
  -moz-border-radius:4px;
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.job {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
  width: 75%;
  margin: auto;
  border-bottom: 1px solid #637891;
  color: #3b536f;
}

.job h3 {
  font-family: 'Mulish', sans-serif;
  font-size: 22px;
}

ul {
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.6;
}

.awards-tests, .courses {
  text-align: justify;
  line-height: 1.6;
}

/* Navigation Bar at the bottom of contact page*/
.navbar {
  border-width:1px 0;
  list-style-type: none;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  text-align:center;
  overflow: hidden;
  background-color: white;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  /*width: 100%;*/
  height: 100px;
  z-index: 1;
  max-width: 100%;
  min-width: 200px;
}

section a {
  display: inline-block;
  color: #093160;
  text-align: center;
  padding:25px 50px;
  text-decoration: none;
  font-size: 18px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
}

a:hover {
  background-color: #72b8f4;
}

.active {
  background-color: #b7dbfc;
}
