.navContainer{
  display: flex;
  justify-content: space-between;
}
.navbar {
  border-width:1px 0;
  list-style-type: none;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  text-align:center;
  overflow: hidden;
  background-color: white;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  /*width: 100%;*/
  height: 100px;
  z-index: 1;
  max-width: 100%;
  min-width: 200px;
}

li {
  text-align: center;
  display:inline;
}

li a {
  display: inline-block;
  color: #093160;
  text-align: center;
  padding:25px 50px;
  text-decoration: none;
  font-size: 18px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
}

li a:hover,.dropdown:hover .dropbtn  {
  background-color: #72b8f4;
}

.active {
  background-color: #b7dbfc;
}
